.wrapper {
  position: relative;
}
.wrapper:before {
  content: " ";
  display: block;
  width: 0;
  height: 2px;
  background-color: #ffc221;
  transition: all ease 0.5s;
  position: absolute;
  bottom: -8px;
}
@media only screen and (min-width: 1023.5px) {
  .wrapper:hover:before {
    width: 100%;
  }
}
