.wrapper {
  display: grid;
  grid-template-columns: 110px auto;
  grid-template-rows: auto auto;
  gap: 1rem;
}
.wrapper:hover {
  box-shadow: 0 14px 40px rgb(51 51 51 / 10%);
}
.image {
  grid-column: 1;
  grid-row: 1 / -1;
  justify-self: center;
}
.title {
  grid-column: 2;
  grid-row: 1 / 1;
  align-self: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5em;
}
.description {
  grid-column: 2;
  grid-row: 2 / -1;
  font-size: 0.875rem;
  color: #111;
}
