.tab {
    display: grid;
    grid-template-columns: 5.25rem 1fr;
    grid-template-rows: 1fr 2fr;
    transition: all ease 0.3s;
    align-items: center;
    column-gap: 1rem;
  }
  .tab:focus-visible {
    outline: none;
  }
  .tab svg{
    grid-row: 1 / -1;
  }
  .description {
    grid-row: 2;
    grid-column: 2 / -1;
  }
  