.wrapper {
  background: #dfe3eb;
  box-shadow: 0 2px 14px rgb(0 0 0 / 14%);
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  height: 28.125rem;
  grid-template-rows: 80% 20%;
}
.shapes {
  visibility: hidden;
}
figure:hover .shapes {
  visibility: visible;
}
figure:hover .titleSection {
  color: #066cc9;
}
.imageSection {
  grid-row: 1 / 2;
}
.titleSection {
  grid-row: 2 / -1;
  background-color: #fff;
}
.image {
  border: 5px solid #fff;
  box-shadow: 0 15px 41px rgb(51 51 51 / 20%);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  margin: 10% auto 0 auto;
}
