.wrapper {
  background: #dfe3eb;
  box-shadow: 0 2px 14px rgb(0 0 0 / 14%);
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  height: 28.125rem;
  grid-template-rows: 75% 25%;
}
.shapes {
  visibility: hidden;
}
figure:hover .shapes {
  visibility: visible;
}
.imageSection {
  grid-row: 1 / 2;
}
.titleSection {
  grid-row: 2 / -1;
  background-color: #fff;
}
