.grid {
  display: grid;
  grid-template-rows: auto 1fr;
}
.main {
  width: 100%;
  background-image: linear-gradient(#000000cc,#000000cc), url(../../assets/images/slideMenu.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem 1.5rem;
}
