@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Yekan;
  src: url(./assets/font/IRANYekanRegular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Yekan;
  src: url(./assets/font/IRANYekanMedium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Yekan;
  src: url(./assets/font/IRANYekanBold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Yekan, sans-serif;
}
body,
html,
#root {
  width: 100%;
  height: 100%;
  min-width: 375px;
}

:root {
  --primary-color: #066cc9;
  --secondary-color: #ffc221;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
}
.grid {
  display: grid;
  grid-template-columns: auto 1fr;
}
.close-button-animation::before {
  content: "";
  background-color: #fff;
  height: 85%;
  width: 0.5rem;
  position: absolute;
  left: -0.5rem;
  opacity: 0.9;
  transition: all ease 500ms;
}
.close-button-animation:hover:before {
  transform: translateX(2.5rem);
}
.open-button-animation::before {
  content: "";
  background-color: #0564B6;
  z-index: 2;
  height: 85%;
  width: 0.5rem;
  position: absolute;
  left: -0.5rem;
  opacity: 0.9;
  transition: all ease 500ms;
}
.open-button-animation:hover:before {
  transform: translateX(2.5rem);
}
.open-button-animation__white::before {
  content: "";
  background-color: #fff;
  z-index: 2;
  height: 85%;
  width: 0.5rem;
  position: absolute;
  left: -0.5rem;
  opacity: 0.9;
  transition: all ease 500ms;
}
.open-button-animation__white:hover:before {
  transform: translateX(2.5rem);
}
.mirror {
  transform: scaleX(-1);
}
.choose{
  position: relative;
}
.choose:after {
  content: "";
  background-image: url(./assets/images/choose-after.svg);
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  right: 0;
}