.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.swiper-slide:hover p {
  font-size: 1.125rem;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: fit-content;
  background-color: transparent;
}
.swiper-button-prev,
.swiper-button-next {
  padding: 2rem;
  border-radius: 9999px;
  background-color: #fff;
  color: black;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
